@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --heading-color01: #ffbd26;
  --text-color01: #fff;
  --text-color02: #1EB1AC;
  --primary-color01: #ffbd26;
  --mid-color01: #20344d;
  --highlight-color: #d13267;
  --bg-color01: #1B293B;
  --error01: red;
  --error02: pink;
  --shadow: rgba(0,0,0,0.25);
}

/* base styles */
body {
  font-family: Poppins, sans-serif;
  color: var(--text-color01);
  margin: 0;
  font-size: 1.1em;
  background: var(--bg-color01);
}
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
}
.btn {
  background: var(--bg-color01);
  padding: 8px 12px;
  border-radius: 8px;
  min-width: 160px;
  color: var(--primary-color01);
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--primary-color01);
}
.btn:hover {
  color: var(--bg-color01);
  background-color: var(--primary-color01);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: var(--input01);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--input02);
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: var(--error01);
  background: var(--error02);
  border: 1px solid var(--error01);
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}